Trabalho2/src/argument/
Trabalho2/src/output
Trabalho2/src/teste
Trabalho3/src/output
Trabalho3/src/testes
Trabalho3/src/*.o
Trabalho4/src/*.o
Trabalho4/src/testes
Trabalho4/src/
Trabalho5/src/*.o
Trabalho5/src/testes
argument/
*zip